// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-icon = FontAwesome
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

// Width
page-width = 1200px
